<h1>Hello {{coachname}},</h1><p>Please consider the following profile of a prospective student athlete:
<p>

<table>
<tr><th>Student Athlete Name</th><th>GPA</th><th>YOG</th></tr>
<tr><td>{{firstname}} {{lastname}}</td><td>{{gpa}}</td><td>{{yog}}</td></tr>
</table>

<p>
Regards,<br>
The FirmU Administration<br>
